@{ViewData["Title"] = "naBahia Turismo";}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/gif" href="~/animated_favicon1.gif"> 
    <link rel="shortcut/icon" href="~/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
    <header class="position-relative">
        <!--NAVBAR TOPO-->
        <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-info cor-navbar d-flex ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="logo" src="~/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Destinos" asp-action="Index">Destinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Promocoes">Promoções</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contatos" asp-action="Create">Contatos</a>
                        </li>
                    </ul>
                            <a onclick="alert('Pagina privada apenas a pessoas atorizadas, em breve estará disponivel sistema de login, para facilitar a visualização ela estará disponivel')" class="btn btn-outline-light " asp-controller="Vendas" asp-action="Index">Painel</a>
                </div>
            </div>
        </nav>

        <!--NAVBAR TOPO FIM-->
    </header>
        @RenderBody()
 <footer style="background-color: #611a00;);" class="footer container-fluid position-relative row text-white mt-5">
    <section class="col-12 col-lg-4">
        <hr>
        <h3>Mapa do site</h3>
        <p>Home <hr> Destinos <hr> Promoções <hr> Contatos <hr> Painel</p>
    </section>
    <Section class="col-12 col-lg-4 text-center">
        <hr>
        <h3>Valores da Empresa</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quo, beatae aliquid, accusantium corrupti voluptatem quae mollitia adipisci, facilis voluptatum architecto ipsum magni iure velit dolore nulla soluta eius earum.</p>
    </Section>
    <section class="col-12 col-lg-4 text-end">
        <hr>
        <h3>Endereço</h3>
        <p>Avenida paralela, Salvador-ba 540</p>
        <h3>Contato</h3>
        <p>Tel:71 98501-1600</p>
    </section>
</footer>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>