.cor-navbar{
    background-color: orangered !important;
}
.logo{
    width: 150px;
}
.nav-item > .nav-link{
    font-size: 20px;
    color: white !important;
}
.opcao {
    display: none;
    visibility: collapse;
    background-color: orange !important;
    z-index: 1;
}
main{
    background-image: url("../img/banner.jpg");
    background-position: center;
    height: 100vh !important;
}
.cor-form-login{
    background-color: orange !important;
    border-radius: 30px;
    border: none;
    min-width: 300px;

}
.form-contatos{
    height: 350px;

}
.form-contatos textarea{
    height: 50px;
}