    <section class="container-fluid row bg-light m-auto p-4">
      <!--TABELA INICIO-->
      <div class="col-lg-3 col-sm-8 m-lg-5 m-sm-auto mt-sm-5 text-center">
        <h2>Contatos</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--TABELA FINAL-->
      <!--CARROSEL INICIO-->
      <div id="carouselExampleCaptions" class="col-lg-3 col-sm-6 col-7 m-lg-5 m-auto mt-5 carousel slide text-center" data-bs-ride="carousel">
        <h2>Redes sociais</h2>
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <img src="~/img/WhatsApp.svg.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block ">
            </div>
          </div>
          <div class="carousel-item">
            <img src="~/img/1024px-Instagram_icon.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item align-items-center">
            <img src="~/img/YouTube_icon_(2013-2017).png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      <!-- CARROSEL FINAL-->
      <!--FORMULARIO INICIO-->
      <div class="col-lg-3 col-sm-6 col-12 mt-5 m-sm-auto mt-sm-5">
      <form class="col-4 form-control form cor-form-login p-4 form-contatos">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nome</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Mensagem</label>
          <textarea class="form-text" name="" id="" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
      <!--FORMULARIO FIM-->
    </section>

  