@model IEnumerable<SiteAgencia.Models.Destinos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/img carrosel/chapadaDiamantina.png" class="d-block w-100" alt="Chapada diamantina">
            </div>
            <div class="carousel-item">
                <img src="~/img/img carrosel/farolBarra.png" class="d-block w-100" alt="Farol da barra">
            </div>
            <div class="carousel-item">
                <img src="~/img/img carrosel/morroSaoPaulo.png" class="d-block w-100" alt="Morro de São paulo">
            </div>
            <div class="carousel-item">
               <a asp-controller="Home" asp-action="Promocoes"><img src="~/img/img carrosel/promocao.png" class="d-block w-100" alt="banner promocional"></a> 
            </div>
        </div>
        <a class="carrouselbtn carousel-control-prev bg-danger" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carrouselbtn carousel-control-next bg-danger" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <section class="container-fluid vh-100 d-flex flex-wrap position-absolute">

        @foreach (var item in Model)
        {
            <!--Card de viagens-->
            <section class="col-3">
                <section class="bg-white border border-2 m-1 d-flex flex-wrap align-items-center justify-content-center p-2 text-white">
                    <h2 class="text-danger text-center w-100 fs-4">@Html.DisplayFor(modelItem => item.Destino)</h2>
                    <div class="cards-section overflow-hidden">
                        <p class="bg-white p-2 text-dark text-center h-100">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </p>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </div>
                    <!-- Button trigger modal -->
                    <a class="btn m-2 btn-light w-50" asp-action="Details" asp-route-id="@item.Id"> Continuar Lendo</a>
                    <a href="https://api.whatsapp.com/send?phone=5571985011600&text=Quero%20viajar%20para%20@{@item.Destino}" target="_brank" class="btn btn-success w-50">Viajar</a>
                </section>
            </section>
            <!--Card de viagens FINAL-->
        }
    </section>
 </main>
