@model SiteAgencia.Models.Destinos

@{
    ViewData["Title"] = "Detalhes de Destino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="container mt-5">
    <h1>Promoção - 10% de desconto</h1>
    <hr>
    <h3>Como participar</h3>
    <p>
        Para participar você deve compartilhar o site oficial do naBahia Turismo em suas redes sociais.
    </p>
        <h3>Como ocorre a validação?</h3>
    <p>
        Promoção é validadade pela equipe disponivel no momento de sua reserva pelo whatsapp, o cliente optante pela promoção deve enviar um link do post na sua rede social
    </p>
    <h3>A promoção é valida para todos os pacotes de viagens?</h3>
    <p>Sim, a promoção é valida para todos os produtos disponeiveis</p>
    <hr>
    <img src="~/img/img carrosel/promocao.png" class="d-block w-100" alt="Banner promocional">


</main>

